<div class="alert alert-success">
<b>Комментарий ревьюера v 2.0 ✔️:</b> Отлично, Павел! Ты исправил единственный недостаток и теперь твой проект конечно же принят.
    
Спасибо за работу и успехов в следующих проектах!)

<div class="alert alert-info"><b>Зравствуйте, Дмитрий!</b>

Я дополнил таблицы через pivot, как ты просил - одной строкой. =)

Спасибо за уделенное время и приятного дня!</div>

<div class="alert alert-success">
<b>Комментарий ревьюера v 2.0 ✔️:</b> И тебе тоже хорошего дня!

<div style="border:solid green 2px; padding: 20px">
<b>Привет!</b>

Меня зовут Михаленко Дмитрий, и я буду проверять твой проект. Предлагаю общаться на «ты» :) Но если это не удобно - дай знать, и мы перейдем на "вы". 

Моя основная цель — не указать на совершенные тобою ошибки, а поделиться своим опытом и помочь тебе стать аналитиком данных. Ты уже проделал большую работу над проектом, но давай сделаем его еще лучше. Ниже ты найдешь мои комментарии - **пожалуйста, не перемещай, не изменяй и не удаляй их**. Увидев у тебя ошибку, в первый раз я лишь укажу на ее наличие и дам тебе возможность самому найти и исправить ее. На реальной работе твой начальник будет поступать так же, а я пытаюсь подготовить тебя именно к работе аналитиком. Но если ты пока не справишься с такой задачей - при следующей проверке я дам более точную подсказку. Я буду использовать цветовую разметку:

<div class="alert alert-danger">
<b>Комментарий ревьюера ❌:</b> Так выделены самые важные замечания. Без их отработки проект не будет принят. </div>

<div class="alert alert-warning">
<b>Комментарий ревьюера ⚠️:</b> Так выделены небольшие замечания. Я надеюсь, что их ты тоже учтешь - твой проект от этого станет только лучше. Но настаивать на их отработке не буду.

</div>

<div class="alert alert-success">
<b>Комментарий ревьюера ✔️:</b> Так я выделяю все остальные комментарии.</div>

Давай работать над проектом в диалоге: **если ты что-то меняешь в проекте или отвечаешь на мои комментарии — пиши об этом.** Мне будет легче отследить изменения, если ты выделишь свои комментарии:
<div class="alert alert-info"> <b>Комментарий студента:</b> Например, вот так.</div>

Всё это поможет выполнить повторную проверку твоего проекта оперативнее.

# Исследование надежности заемщиков

Во второй части проекта вы выполните шаги 3 и 4. Их вручную проверит ревьюер.
Чтобы вам не пришлось писать код заново для шагов 1 и 2, мы добавили авторские решения в ячейки с кодом.

## Откройте таблицу и изучите общую информацию о данных

**Задание 1. Импортируйте библиотеку pandas. Считайте данные из csv-файла в датафрейм и сохраните в переменную `data`. Путь к файлу:**

`/datasets/data.csv`

In [1]:
import pandas as pd

try:
    data = pd.read_csv('/datasets/data.csv')
except:
    data = pd.read_csv('https://code.s3.yandex.net/datasets/data.csv')

**Задание 2. Выведите первые 20 строчек датафрейма `data` на экран.**

In [2]:
data.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

**Задание 3. Выведите основную информацию о датафрейме с помощью метода `info()`.**

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

## Предобработка данных

### Удаление пропусков

**Задание 4. Выведите количество пропущенных значений для каждого столбца. Используйте комбинацию двух методов.**

In [4]:
data.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

**Задание 5. В двух столбцах есть пропущенные значения. Один из них — `days_employed`. Пропуски в этом столбце вы обработаете на следующем этапе. Другой столбец с пропущенными значениями — `total_income` — хранит данные о доходах. На сумму дохода сильнее всего влияет тип занятости, поэтому заполнить пропуски в этом столбце нужно медианным значением по каждому типу из столбца `income_type`. Например, у человека с типом занятости `сотрудник` пропуск в столбце `total_income` должен быть заполнен медианным доходом среди всех записей с тем же типом.**

In [5]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['total_income'].isna()), 'total_income'] = \
    data.loc[(data['income_type'] == t), 'total_income'].median()

### Обработка аномальных значений

**Задание 6. В данных могут встречаться артефакты (аномалии) — значения, которые не отражают действительность и появились по какой-то ошибке. таким артефактом будет отрицательное количество дней трудового стажа в столбце `days_employed`. Для реальных данных это нормально. Обработайте значения в этом столбце: замените все отрицательные значения положительными с помощью метода `abs()`.**

In [6]:
data['days_employed'] = data['days_employed'].abs()

**Задание 7. Для каждого типа занятости выведите медианное значение трудового стажа `days_employed` в днях.**

In [7]:
data.groupby('income_type')['days_employed'].agg('median')

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

У двух типов (безработные и пенсионеры) получатся аномально большие значения. Исправить такие значения сложно, поэтому оставьте их как есть. Тем более этот столбец не понадобится вам для исследования.

**Задание 8. Выведите перечень уникальных значений столбца `children`.**

In [8]:
data['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5])

**Задание 9. В столбце `children` есть два аномальных значения. Удалите строки, в которых встречаются такие аномальные значения из датафрейма `data`.**

In [9]:
data = data[(data['children'] != -1) & (data['children'] != 20)]

**Задание 10. Ещё раз выведите перечень уникальных значений столбца `children`, чтобы убедиться, что артефакты удалены.**

In [10]:
data['children'].unique()

array([1, 0, 3, 2, 4, 5])

### Удаление пропусков (продолжение)

**Задание 11. Заполните пропуски в столбце `days_employed` медианными значениями по каждого типа занятости `income_type`.**

In [11]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['days_employed'].isna()), 'days_employed'] = \
    data.loc[(data['income_type'] == t), 'days_employed'].median()

**Задание 12. Убедитесь, что все пропуски заполнены. Проверьте себя и ещё раз выведите количество пропущенных значений для каждого столбца с помощью двух методов.**

In [12]:
data.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

### Изменение типов данных

**Задание 13. Замените вещественный тип данных в столбце `total_income` на целочисленный с помощью метода `astype()`.**

In [13]:
data['total_income'] = data['total_income'].astype(int)

### Обработка дубликатов

**Задание 14. Выведите на экран количество строк-дубликатов в данных. Если такие строки присутствуют, удалите их.**

In [14]:
data.duplicated().sum()

54

In [15]:
data = data.drop_duplicates()

**Задание 15. Обработайте неявные дубликаты в столбце `education`. В этом столбце есть одни и те же значения, но записанные по-разному: с использованием заглавных и строчных букв. Приведите их к нижнему регистру. Проверьте остальные столбцы.**

In [16]:
data['education'] = data['education'].str.lower()

### Категоризация данных

**Задание 16. На основании диапазонов, указанных ниже, создайте в датафрейме `data` столбец `total_income_category` с категориями:**

- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 и выше — `'A'`.


**Например, кредитополучателю с доходом 25000 нужно назначить категорию `'E'`, а клиенту, получающему 235000, — `'B'`. Используйте собственную функцию с именем `categorize_income()` и метод `apply()`.**

In [17]:
def categorize_income(income):
    try:
        if 0 <= income <= 30000:
            return 'E'
        elif 30001 <= income <= 50000:
            return 'D'
        elif 50001 <= income <= 200000:
            return 'C'
        elif 200001 <= income <= 1000000:
            return 'B'
        elif income >= 1000001:
            return 'A'
    except:
        pass

In [18]:
data['total_income_category'] = data['total_income'].apply(categorize_income)

**Задание 17. Выведите на экран перечень уникальных целей взятия кредита из столбца `purpose`.**

In [19]:
data['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

**Задание 18. Создайте функцию, которая на основании данных из столбца `purpose` сформирует новый столбец `purpose_category`, в который войдут следующие категории:**

- `'операции с автомобилем'`,
- `'операции с недвижимостью'`,
- `'проведение свадьбы'`,
- `'получение образования'`.

**Например, если в столбце `purpose` находится подстрока `'на покупку автомобиля'`, то в столбце `purpose_category` должна появиться строка `'операции с автомобилем'`.**

**Используйте собственную функцию с именем `categorize_purpose()` и метод `apply()`. Изучите данные в столбце `purpose` и определите, какие подстроки помогут вам правильно определить категорию.**

In [20]:
def categorize_purpose(row):
    try:
        if 'автом' in row:
            return 'операции с автомобилем'
        elif 'жил' in row or 'недвиж' in row:
            return 'операции с недвижимостью'
        elif 'свад' in row:
            return 'проведение свадьбы'
        elif 'образов' in row:
            return 'получение образования'
    except:
        return 'нет категории'

In [21]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose)

## Исследуйте данные и ответьте на вопросы

<div class="alert alert-danger">
<b>Комментарий ревьюера ❌:</b> Замечание по всему разделу ответов на вопросы
    
****
У тебя хорошие навыки написания кода, в частности groupby, но все же в данном случае не обязательно усложнять код и писать его в несколько строк, достаточно в пивот воспользоваться встроенными функциями. Выведи пожалуйста в каждом из ответов аналогичную таблицу, в которой будет количество кредитополучателей, количество должников и долю должников с использованием пивот, сделать все это можно в одну строку. Немного подскажу, воспользуйся в aggfunc sum,count и mean
    
******
    
Дополни пожалуйста этот раздел работы)

**Задание 19. Есть ли зависимость между количеством детей и возвратом кредита в срок?**

In [22]:
# Ваш код будет здесь. Вы можете создавать новые ячейки.
debt_children = data.groupby('children').agg({'debt': ['count', 'sum']}) #группируем по колличеству детей, соотносим данные по таблице
debt_children['procentage'] = debt_children['debt']['sum'] / debt_children['debt']['count'] * 100 #считаем конверсию, переводим в проценты
debt_children = debt_children.rename(columns={'count': 'credit_total', 'sum': 'in_debt'}) #для удобства пользования переименуем колонки на более понятные названия
debt_children.sort_values('procentage', ascending = False) #сортируем по процентам должников, чем выше, тем больше должников

                 debt         procentage
         credit_total in_debt
children
4                  41       4   9.756098
2                2052     194   9.454191
1                4809     444   9.232689
3                 330      27   8.181818
0               14107    1063   7.535266
5                   9       0   0.000000

In [23]:
pd.pivot_table(data,index=["children"],values=['debt'],aggfunc={"debt":['sum','count','mean']})

             debt
            count      mean     sum
children
0         14107.0  0.075353  1063.0
1          4809.0  0.092327   444.0
2          2052.0  0.094542   194.0
3           330.0  0.081818    27.0
4            41.0  0.097561     4.0
5             9.0  0.000000     0.0

<div class="alert alert-success">
<b>Комментарий ревьюера v 2.0 ✔️:</b> Совершенно верно, задача решена при помощи пивот отлично

**Вывод:** Люди без детей реже пропускают срок оплаты по кредиту. Есть некоторая тенденция к тому что с увеличением колличества детей, увеличивается колличество просроченных задолжностей, однако у людей с тремя детьми процент должников меньше чем у людей с 1, 2, 4 детьми. В текущей выборке сложно оценить зависимость.

<div class="alert alert-success">
<b>Комментарий ревьюера ✔️:</b> Хорошо исследовал все особеноости зависимостей, все верно

**Задание 20. Есть ли зависимость между семейным положением и возвратом кредита в срок?**

In [24]:
# Ваш код будет здесь. Вы можете создавать новые ячейки.
debt_family = data.groupby('family_status').agg({'debt': ['count', 'sum']})
debt_family['procentage'] = debt_family['debt']['sum'] / debt_family['debt']['count'] * 100
debt_family = debt_family.rename(columns={'count': 'credit_total', 'sum': 'in_debt'})
debt_family.sort_values('procentage', ascending = False)

                              debt         procentage
                      credit_total in_debt
family_status
Не женат / не замужем         2796     273   9.763948
гражданский брак              4146     385   9.286059
женат / замужем              12266     927   7.557476
в разводе                     1189      84   7.064760
вдовец / вдова                 951      63   6.624606

In [25]:
pd.pivot_table(data,index=["family_status"],values=['debt'],aggfunc={"debt":['sum','count','mean']})

                          debt
                         count      mean    sum
family_status
Не женат / не замужем   2796.0  0.097639  273.0
в разводе               1189.0  0.070648   84.0
вдовец / вдова           951.0  0.066246   63.0
гражданский брак        4146.0  0.092861  385.0
женат / замужем        12266.0  0.075575  927.0

**Вывод:** Зависимость прослеживается, люди в статусе "Не женат / не замужем" и "гражданский брак" реже возвращают долги, меньше всего долгов у людей со статусом "вдовец / вдова"

<div class="alert alert-success">
<b>Комментарий ревьюера ✔️:</b> Да, тут можно заметить, что те люди, в жизни которых в каком-то виде был брак чуть более надежны в плане кредитов

**Задание 21. Есть ли зависимость между уровнем дохода и возвратом кредита в срок?**

In [26]:
# Ваш код будет здесь. Вы можете создавать новые ячейки.
debt_total_income = data.groupby('total_income_category').agg({'debt': ['count', 'sum']})
debt_total_income['procentage'] = debt_total_income['debt']['sum'] / debt_total_income['debt']['count'] * 100
debt_total_income = debt_total_income.rename(columns={'count': 'credit_total', 'sum': 'in_debt'})
debt_total_income.sort_values('procentage', ascending = False)
debt_total_income
#исходя из таблицы категорий, которые мы сделали ранее A B C D E, сложно судить и я решил разбить на более мелкие сегменты

                              debt         procentage
                      credit_total in_debt
total_income_category
A                               25       2   8.000000
B                             5014     354   7.060231
C                            15938    1353   8.489145
D                              349      21   6.017192
E                               22       2   9.090909

In [27]:
pd.pivot_table(data,index=["total_income_category"],values=['debt'],aggfunc={"debt":['sum','count','mean']})

                          debt
                         count      mean     sum
total_income_category
A                         25.0  0.080000     2.0
B                       5014.0  0.070602   354.0
C                      15938.0  0.084891  1353.0
D                        349.0  0.060172    21.0
E                         22.0  0.090909     2.0

<div class="alert alert-success">
<b>Комментарий ревьюера ✔️:</b> Классно дополнил дополнительной разбивкой

In [28]:
def total_income_category(income): #создаем функцию для категоризации по уровню дохода
    if income >= 500000:
        return 20
    else:
        income = income // 25000 #целочисленно делим на 25k, сделаем 20 условных групп
        return income
data['total_income_id'] = data['total_income'].apply(total_income_category)
data['total_income_id'].value_counts()
debt_family = data.groupby('total_income_id').agg({'debt': ['count', 'sum']}) 
debt_family['procentage'] = debt_family['debt']['sum'] / debt_family['debt']['count'] * 100
debt_family.sort_values('procentage', ascending = False)

                 debt      procentage
                count  sum
total_income_id
0                   8    1  12.500000
14                186   17   9.139785
13                305   27   8.852459
4                3280  288   8.780488
7                1704  149   8.744131
5                3845  331   8.608583
3                2590  218   8.416988
6                3036  254   8.366271
12                312   24   7.692308
2                1483  113   7.619690
9                 956   72   7.531381
8                1286   90   6.998445
17                 86    6   6.976744
11                533   36   6.754221
10                790   52   6.582278
16                109    7   6.422018
20                222   14   6.306306
1                 363   22   6.060606
15                143    7   4.895105
18                 53    2   3.773585
19                 58    2   3.448276

**Вывод:** Целевые группы ведут себя хаотично. Делаем вывод что зависимости здесь нет.

<div class="alert alert-success">
<b>Комментарий ревьюера ✔️:</b> В целом, согласен, зависимость здесь нелинейна, отследить ее проблематично

**Задание 22. Как разные цели кредита влияют на его возврат в срок?**

In [29]:
# Ваш код будет здесь. Вы можете создавать новые ячейки.
debt_purpose = data.groupby('purpose_category').agg({'debt': ['count', 'sum']})
debt_purpose['procentage'] = debt_purpose['debt']['sum'] / debt_purpose['debt']['count'] * 100
debt_purpose = debt_purpose.rename(columns={'count': 'credit_total', 'sum': 'in_debt'})
debt_purpose.sort_values('procentage', ascending = False)

                                 debt         procentage
                         credit_total in_debt
purpose_category
операции с автомобилем           4281     400   9.343611
получение образования            3989     369   9.250439
проведение свадьбы               2324     183   7.874355
операции с недвижимостью        10754     780   7.253115

In [30]:
pd.pivot_table(data,index=["purpose_category"],values=['debt'],aggfunc={"debt":['sum','count','mean']})

                             debt
                            count      mean    sum
purpose_category
операции с автомобилем     4281.0  0.093436  400.0
операции с недвижимостью  10754.0  0.072531  780.0
получение образования      3989.0  0.092504  369.0
проведение свадьбы         2324.0  0.078744  183.0

**Вывод:** Исходя из данных таблицы, можем сразу определить, что люди, взявшие кредитование категорий "операции с автомобилем" и "получение образования" имеют больше задолженностей, при этом почти одинаковое значение, чем люди кредитовавшиеся на "проведение свадьбы" и "операции с недвижимостью", которые так же, примерно в одном процентном диапозоне.

<div class="alert alert-success">
<b>Комментарий ревьюера ✔️:</b> Правильно, автолюбители и ипотечники самые надежные

**Задание 23. Приведите возможные причины появления пропусков в исходных данных.**

*Ответ:* данные отсутствовали в days_employed и total_income, возможно люди просто не оставили о себе таких данных, либо данные были удалены кем то.

<div class="alert alert-success">
<b>Комментарий ревьюера ✔️:</b> Хорошие предположения о причинах

**Задание 24. Объясните, почему заполнить пропуски медианным значением — лучшее решение для количественных переменных.**

*Ответ:* при выборки значений может оказаться так, что некоторые значения могут оказаться "пиковыми" и значительно "перевесить" среднее арифметическое в свою сторону, использование среднего арифментического в таких случая может привести к нереальным показателям в статистике.

<div class="alert alert-success">
<b>Комментарий ревьюера ✔️:</b> Совершенно верно! Причина определена точно

## Общий вывод.

Вывод: на вероятность платежей по кредиту в срок влияют несколько факторов:
- количеством детей:
Бездетные реже пропускают срок оплаты по кредиту. Чем больше детей, тем больше кредитных долгов.
- семейный статус:
"Не женат / не замужем" и "гражданский брак" имеют больше долгов, а разведенные "вдовец / вдова" оплачивают долги в срок чаще.
- разные цели кредита:
Те, кто берут кредитование в категориях "операции с автомобилем" и "получение образования" имеют больше долгов. Взявшие кредит на "проведение свадьбы" и "операции с недвижимостью" выплачивают долги более охотно.

<div class="alert alert-success">
<b>Комментарий ревьюера ✔️:</b> Супер, ты отлично понимаешь суть проведенного анализа!

<div class="alert alert-success">
<b>Комментарий ревьюера ✔️:</b> Павел, проект отличный! У тебя сильные аналитические навыки и владение инструментами для проведения исследования. Но всё же в проекте есть буквально одно критическое замечание и я попрошу тебя исправить его, чтобы проект стал еще лучше! </div>